<script lang="ts">
    import { tick } from "svelte";

  let circleEl: HTMLDivElement;

  async function flip() {
    const first = circleEl.getBoundingClientRect();
    swap = !swap;
    await tick();
    // requestAnimationFrame(() => {
      const last = circleEl.getBoundingClientRect();
      const invert = first.left - last.left;
      const animation = circleEl.animate(
        [
          { translate: `${invert}px` },
          { translate: "0px", background: "yellow" },
        ],
        {
          duration: 2000,
          fill: "forwards",
          easing: "ease-out",
        }
      );
    // }); // END request Animation Frame
  }

  let swap = false;
</script>

<h1>Click anywhere to flip</h1>
<svelte:document on:click={flip} />

<main class="container">
  <div class="box">
    {#if !swap}
      <div bind:this={circleEl} class="circle">firs</div>
    {/if}
  </div>
  <div class="box">
    {#if swap}
      <div bind:this={circleEl} class="circle">second</div>
    {/if}
  </div>
</main>

<style>
  .container {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
  .box {
    border: 2px solid salmon;
    border-style: dashed;
    padding: 2rem;
    width: 118px;
    height: 118px;
  }
  .circle {
    background-color: blueviolet;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
</style>
