<script lang="ts">
  import { tick } from "svelte";
  import { gsap } from "gsap/dist/gsap";
  import { Flip } from "gsap/dist/Flip";

  gsap.registerPlugin(Flip);
  async function flip() {
    let state = Flip.getState(".circle", { props: "borderRadius" });
    await tick();
    Flip.from(state, {
      duration: 0.6,
      absolute: true,
      scale: true,
      stagger: -0.1, //negativo fot start by last,positive for first element
      spin: true,
      ease: "ease-out",
    });
    layout === "grid" ? (layout = "stack") : (layout = "grid");
  }
  let images = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
  type Layout = "stack" | "grid";
  let layout: Layout = "stack";
</script>

<svelte:document on:click={flip} />
<h2>glip gsap</h2>

<div class="container">
  <div data-layout={layout}>
    {#each images as circle, id}
      <img
        class="circle"
        src={`https://picsum.photos/100/100?random=${id}`}
        alt="Placeholder"
      />
    {/each}
  </div>
</div>

<style>
  .container {
    display: grid;
    place-content: center;
    cursor: pointer;
  }
  .circle {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid hsl(220, 10%, 10%);
  }
  [data-layout="stack"] {
    display: flex;
  }
  [data-layout="stack"] .circle:not(:first-child) {
    margin-left: -40px;
  }
  [data-layout="grid"] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }
  [data-layout="grid"] .circle {
    border-radius: 20%;
  }
</style>
